<div>
    <sly-field title="Drop shadow" description="Define transparence">
        <sly-icon slot="icon" :options="{ color: '#4977ff', bgColor: '#ddf2ff', rounded: false }">
            <i class="zmdi zmdi-fast-forward"></i>
        </sly-icon>
        <div class="fflex mt10">Min transperence:</div>
        <el-input v-model="state.mintransparence" :min="0.0" :max="1.0"></el-input>
        
        <div class="fflex mt10">Max transperence:</div>
        <el-input v-model="state.maxtransparence" :min="0.0" :max="1.0"></el-input>
        
        <div class="fflex mt10">Probability:</div>
        <el-input v-model="state.probability" :min="0.0" :max="1.0"></el-input>
        
        <div class="fflex mt10">Max number of shadow:</div>
        <el-input-number v-model="state.maxShadow" :min="1" :max="5"></el-input-number>
    </sly-field>

    <sly-field title="Result project" description="Define the name of result project">
        <sly-icon slot="icon" :options="{ color: '#2cd26e', bgColor: '#d8f8e7', rounded: false }">
            <i class="zmdi zmdi-collection-folder-image"></i>
        </sly-icon>
        <sly-select-team-workspace
                :team-id.sync="state.teamId"
                :workspace-id.sync="state.workspaceId"
                :disabled="true"
        />
        <div class="fflex mt10">Project name:</div>
        <el-input class="mt5" v-model="state.projectName"></el-input>
    </sly-field>
</div>
